.TcHmi_BuildingAutomation_Controls_Common_ManualOverride {
    overflow: visible;
}

    .TcHmi_BuildingAutomation_Controls_Common_ManualOverride > div.tchmi-ba-base.manual-override {
        width: 100%;
        height: 100%;
    }
