<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.BA.BaSite" version="2.11.1" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.BA.Controls" version="2.11.1" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.BA.Framework" version="2.11.1" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.BA.Icons" version="2.11.1" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.BaseTemplate" version="12.762.46" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="12.762.46" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EventLogger" version="19.0.205" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="12.762.46" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="12.762.46" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Microsoft.TypeScript.MSBuild" version="4.9.5" developmentDependency="true" />
</packages>